:root {
  --interval: 1.6s;
  --intensity: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #111;
  color: #fff;
  overflow: hidden;
}

.container {
  max-width: 100% !important;
}

.main-container {
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lights {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1vh solid #333;
}

.light {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 50%;
  width: 2.5vw;
  height: 15vh;
  animation: turn-off .8s forwards;
  cursor: pointer;
}

.light::before {
  content: "";
  display: block;
  background-color: #333;
  width: 2.5vw;
  height: 30%;
  border-radius: 5% 5% 50% 50%;
}

@keyframes turn-off {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    box-shadow: 0 10px calc(var(--intensity)*2) var(--intensity);
  }

  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0;
  }

}

.light:nth-child(odd) {
  color: #f66;
  background-color: #f66;
}

.light:nth-child(even) {
  color: #6f6;
  background-color: #6f6;
}

.on .light:nth-child(odd) {
  animation: toggle var(--interval) infinite;
}

.on .light:nth-child(even) {
  animation: toggle var(--interval) calc(var(--interval)/2) infinite;
}

@keyframes toggle {

  0%,
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0;
  }

  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    box-shadow: 0 10px calc(var(--intensity)*2) var(--intensity);
  }
}

h1 {
  transition: .8s;
}

.on h1 {
  text-shadow: 1px 1px 0.8rem #fff;
}

.control {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  width: 12vw;
  height: 10vh;
  position: relative;
  display: flex;
  border-radius: 1rem;
  cursor: pointer;
}

.button>div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #000;
}

#on {
  background-color: rgb(16, 204, 16);
  border-radius: 1rem 0 0 1rem;
}

#off {
  background-color: rgb(240, 48, 48);
  border-radius: 0 1rem 1rem 0;
}

#selector {
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  background-color: #000;
  opacity: 0.4;
  border-radius: 0 1rem 1rem 0;
  z-index: 1;
}

.on #selector {
  left: 0 !important;
  right: auto !important;
  border-radius: 1rem 0 0 1rem !important;
}

.control input {
  background-color: transparent;
  padding-left: 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}