@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">
    <audio controls>
        <source src="~/audio/wind-chimes-bells.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="lights">
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
        <div class="light">
            <input type="color" hidden>
        </div>
    </div>
    <div>
        <h1>Christmas Lights</h1>
    </div>
    <div class="control">
        <div class="button">
            <div id="selector"></div>
            <div id="on">ON</div>
            <div id="off">OFF</div>
        </div>
        <div>
            <label for="interval">Interval of time (in seconds)</label><br>
            <input id="interval" type="number" min="1" step="any" value="1.6">
        </div>
        <div>
            <label for="intensity">Intensity (in pixels)</label><br>
            <input id="intensity" type="number" min="15" max="40" step="any" value="15">
        </div>
    </div>
</div>
